body {
  background-image: url("phone.jpg");
  background-size: cover;
}
alert {
  background-color: yellow;
  color: red;
}

#repbutton {
  border-style: outset;
  border-width: 5px;
  border-color: gray;
  transition-duration: 0.4s;
  cursor: pointer;
}

#repbutton:hover {
  background-color: black;
  color: white;
}

#repbutton:active {
  border-style: inset;
}

#more_button {
  border-style: outset;
  border-width: 5px;
  border-color: gray;
  transition-duration: 0.4s;
  cursor: pointer;
}

#more_button:hover {
  background-color: black;
  color: white;
}

#more_button:active {
  border-style: inset;
}

.ContentContainer {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  width: 70vw;
  background-color: #f2f2f2;
  height: 80%;
  border-radius: 10px;
  /* background-image: url('phonepic.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-position: right bottom; */
}

.Content {
  width: 80%;
  margin: auto;
}

.DisplayContainer {
  background-color: lightgray;
  width: 28%;
  align-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  border-radius: 10px;
}

.PhoneRepDisplay {
}

.Instructions {

}

.Headings {
  background-color: blue;
  border-radius:10px;
  padding-left: 10px;
  color: white;
  font-style: oblique;
}

.PhoneNumberInput {
  margin-top: 20px;
}
